<aside class="main-sidebar fixed offcanvas b-r sidebar-tabs" data-toggle='offcanvas'>
    <a href="#" data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed">
        <i></i>
    </a>
    <div class="sidebar">
        <div class="d-flex hv-100 align-items-stretch">
            <div class="indigo text-white">
                <div class="nav mt-5 pt-5 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" title="All Menu">
                        <i class="icon-inbox2"></i>
                    </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true" title="Profile Admin">
                        <figure class="avatar"><img src="/img/upload/avatar/main-avatar.jpg" alt=""><span class="avatar-badge online"></span></figure>
                    </a>
                    <a class="nav-link blink skin_handle" id="btnChangeTheme" href="#" title="Click to Change the Light">
                        <i class="icon-lightbulb_outline"></i>
                    </a>
                </div>
            </div>
            <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="relative brand-wrapper sticky b-b">
                        <div class="d-flex justify-content-between align-items-center p-3">
                            <div class="text-xs-center">
                                <span class="s-18">Menu</span>
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="treeview">
                            <a href="/admin/dashboard"><i class="icon icon-folder-o s-18"></i><span>Dashboard</span></a>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="icon icon-file-code-o s-18"></i>Case Study<i class="icon-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="/admin/case-study/"><i class="icon icon-circle-o"></i>All Case Study</a></li>
                                <li><a href="/admin/case-study/add"><i class="icon icon-add"></i>Add Case Study</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="icon icon-file-word-o s-18"></i>Story<i class="icon-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="/admin/story/"><i class="icon icon-circle-o"></i>All Story</a></li>
                                <li><a href="/admin/story/add"><i class="icon icon-add"></i>Add Story</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="icon icon-file-zip-o s-18"></i>Category<i class="icon-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="/admin/category/"><i class="icon icon-circle-o"></i>All Category</a></li>
                                <li><a href="/admin/category/add"><i class="icon icon-add"></i>Add Category</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="icon icon-file-powerpoint-o s-18"></i>Playground<i class="icon-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="/admin/playground/"><i class="icon icon-circle-o"></i>All Playground</a></li>
                                <li><a href="/admin/playground/add"><i class="icon icon-add"></i>Add Playground</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="icon icon-file-photo-o s-18"></i>Image<i class="icon-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="/admin/image/"><i class="icon icon-circle-o"></i>All Image</a></li>
                                <li><a href="/admin/image/add"><i class="icon icon-add"></i>Add Image</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="icon icon-user-o s-18"></i>Users<i class="icon-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="/admin/users/"><i class="icon icon-circle-o"></i>All Users</a></li>
                                <li><a href="/admin/users/add"><i class="icon icon-add"></i>Add User</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="relative brand-wrapper sticky b-b">
                        <div class="d-flex justify-content-between align-items-center p-3">
                            <div class="text-xs-center">
                                <span class="s-18">Profile</span>
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="treeview">
                            <a href="/admin/dashboard"><i class="icon icon-sailing-boat-water s-24"></i> <span>Edit Profile</span></a>
                        </li>
                        <li class="treeview">
                            <a href="/logout"><i class="icon icon-sailing-boat-water s-24"></i> <span>Sign Out</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>